.title {
  font-weight: 500;
  font-size: 60px;
  color: $color-white;
  .header__span_blue {
    color: $main-color;
    position: relative;
    font-weight: 700;
  }
  .header__span_underline::before {
    @include pseudo;
    width: 40%;
    height: 3px;
    background-color: $main-color;
    left: 0;
    bottom: 13px;
  }
  .header__span_underline::after {
    @include pseudo;
    width: 60%;
    height: 3px;
    background-color: $color-white;
    right: 0;
    bottom: 13px;
  }
  &_fz16 {
    color: $main-color;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
  &_fz20 {
    font-size: 20px;
    color: $color-black;
  }
  &_fz39 {
    font-size: 39px;
    line-height: 135%;
    color: $color-black;
  }
}
