.title {
  font-weight: 500;
  font-size: 60px;
  color: #ffffff;
  span.blue {
    color: $main-color;
    position: relative;
    font-weight: 700;
  }
  span.underline::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 3px;
    background-color: $main-color;
    left: 0;
    bottom: 13px;
  }
  span.underline::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: #fff;
    right: 0;
    bottom: 13px;
  }
  &_fz16 {
    color: $main-color;
    text-transform: uppercase;
    font-weight: 400;
  }
}
