$main-color: #1d92ff;
$text-color: rgba(1, 7, 13, 0.5);

$color-white: #fff;
$color-white-op7: rgba(255, 255, 255, 0.7);
$color-white-op6: rgba(255, 255, 255, 0.6);
$color-white-op5: rgba(255, 255, 255, 0.5);
$color-white-op1: rgba(255, 255, 255, 0.1);

$opacity-01: 0.1;
