$main-color: #1d92ff;
$main-color-op05: rgba(29, 146, 255, 0.05);
$main-color-op1: rgba(29, 146, 255, 0.1);
$text-color: rgba(1, 7, 13, 0.5);
$text-color-op7: rgba(1, 7, 13, 0.7);
$text-color-op1: rgba(1, 7, 13, 0.1);

$color-mainbg: #FCFCFC;
$color-white: #fff;
$color-white-op7: rgba(255, 255, 255, 0.7);
$color-white-op6: rgba(255, 255, 255, 0.6);
$color-white-op5: rgba(255, 255, 255, 0.5);
$color-white-op1: rgba(255, 255, 255, 0.1);
$color-black: #000;

$opacity-01: 0.1;
