.features {
    padding-top: 130px;
    &__icons {
        display: flex;
        justify-content: space-between;
        img {
            width: auto;
            height: 47px;
            object-fit: contain;
        }
        margin-bottom: 140px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 70px;
    }
    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        &-img {
            position: relative;
        }
        &-img-2 {
            height: 533px;
            width: 750px;
            object-fit: cover;
            align-self: center;
        }
    }
    &__template-1 {
        position: absolute;
        left: 0;
        top: 0;
    }
    &__template-2 {
        position: absolute;
        right: -70px;
        bottom: 30px;
    }
    &__template-3 {
        position: absolute;
        top: 0;
        left: 160px;
        z-index: 1;
    }
    &__subtitle {
        margin: 70px 0 10px 0;
        &--fz {
            &-small {
                font-size: 16px;
                color: $main-color;
                text-transform: uppercase;
                font-weight: 400;
                letter-spacing: 0.05em;
            }
        }
    }
    &__title {
        @include title;
        color: $color-black;
        &--fz {
            &-big {
                @include title-big;
            }
        }
    }
    &__text {
        line-height: 26px;
        color: $text-color-op7;
        margin-bottom: 45px;
    }
    &__list-item {
        position: relative;
        margin-bottom: 25px;
    }
    &__icon {
        @include dflex-center;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 32px;
        background: $main-color-op05;
        border-radius: 50%;
    }
    &__about {
        padding-left: 47px;
        line-height: 26px;
    }
    &__facts {
        background-color: $color-white;
        border-radius: 10px;
        padding: 18px 24px;
        position: relative;
        max-width: 472px;
        margin-bottom: 12px;
    }
    &__block {
        margin-top: 19px;
        padding-left: 11px;
    }
    &__arrowup {
        position: absolute;
        right: 10px;
        top: 29px;
        width: 16px;
        height: 9px;
    }
    &__review {
        background: $color-white;
        border: 1px solid $text-color-op1;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 12px 24px;
        position: relative;
        margin-bottom: 15px;
    }
    &__reviews {
        max-width: 472px;
    }
    &__arrowdown {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        width: 16px;
        height: 9px;
    }
    &__btns {
        margin-top: 45px;
        display: flex;
    }
    &__list-button {
        cursor: pointer;
        background: none;
        border: none;
        color: $text-color;
        padding: 0;
    }
    &__btn {
        @include btn;
        display: inline-block;
        &--active {
            color: $main-color;
            background: $color-white;
            border: none;
        }
        &--first {
            margin-right: 30px;
        }
        &--blue {
            background-color: $main-color;
            color: $color-white;
            font-size: 16px;
            width: 198px;
            &--none {
                border: 1px solid $main-color-op1;
                color: $main-color;
                font-size: 16px;
                width: 198px;
            }
        }
    }
    &__link {
        display: inline-block;
        color: $text-color;
    }
    &--blue {
        color: $main-color;
        font-weight: 500;
        font-size: 20px;
    }
    &--underline {
        text-decoration: underline;
    }
    &--semibold {
        font-weight: 600;
    }
}
