.features {
  padding-top: 130px;
  &__icons {
    display: flex;
    justify-content: space-between;
    img {
      width: auto;
      height: 47px;
      object-fit: contain;
    }
    margin-bottom: 140px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 70px;
  }
  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 155px;
    &-img {
      position: relative;
      height: 650px;
    }
    &-img-2 {
      position: relative;
      img {
        height: 533px;
        width: 750px;
        object-fit: cover;
        position: absolute;
        right: -10%;
        bottom: 0;
      }
    }
  }
  &__template-1 {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__template-2 {
    position: absolute;
    right: -70px;
    bottom: 30px;
  }
  &__template-3 {
    position: absolute;
    top: 0;
    left: 160px;
    z-index: -1;
  }
  &__subtitle {
    margin-top: 70px;
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    line-height: 160%;
    color: $text-color-op7;
    margin-bottom: 45px;
    &_sbold {
      font-weight: 600;
    }
  }
  &__list-item {
    position: relative;
    margin-bottom: 25px;
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: $main-color-op05;
    border-radius: 50%;
    @include dflex-center;
  }
  &__about {
    padding-left: 47px;
    line-height: 160%;
  }
  &__facts {
    background-color: $color-white;
    border-radius: 10px;
    padding: 18px 24px;
    position: relative;
    max-width: 472px;
    margin-bottom: 12px;
  }
  &__block {
    margin-top: 19px;
    padding-left: 11px;
  }
  &__arrowup {
    position: absolute;
    right: 24px;
    top: 29px;
  }
  &__review {
    background: $color-white;
    border: 1px solid $text-color-op1;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 12px 24px;
    position: relative;
    margin-bottom: 15px;
  }
  &__reviews {
    max-width: 472px;
  }
  &__arrowdown {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
  }
  &__btns {
    margin-top: 45px;
  }
  &__span_blue {
    color: $main-color;
    font-weight: 500;
    font-size: 20px;
  }
  &__btn {
    display: inline-block;
    &_first {
      margin-right: 25px;
    }
  }
}
