.features {
  padding-top: 130px;
  &__icons {
    display: flex;
    justify-content: space-between;
    img {
      width: auto;
      height: 47px;
      object-fit: contain;
    }
    margin-bottom: 140px;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 140px;
  }
  &__item {
    display: grid;
    grid-template-columns: 574px 496px;
    column-gap: 155px;
    &-img {
      position: relative;
      height: 650px;
    }
  }
  &__template-1 {
    position: absolute;
    left: 0;
    top: 0;
  }
  &__template-2 {
    position: absolute;
    right: -70px;
    bottom: 30px;
  }
  &__template-3 {
    position: absolute;
    top: 0;
    left: 160px;
    z-index: -1;
  }
  &__subtitle {
    margin-top: 70px;
    margin-bottom: 10px;
  }
  &__title {
    margin-bottom: 25px;
  }
  &__text {
    line-height: 160%;
    color: $text-color-op7;
    margin-bottom: 45px;
    &_sbold {
      font-weight: 600;
    }
  }
  &__list-item {
    position: relative;
    margin-bottom: 25px;
  }
  &__icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: $main-color-op05;
    border-radius: 50%;
    @include dflex-center;
  }
  &__about {
    padding-left: 47px;
    line-height: 160%;
  }
}
