.footer {
  background-color: $color-footer;
  padding: 126px 0;
  color: $color-white;
  position: relative;
  &__wrapper {
    @include dflex-jcsb;
  }
  &__text {
    color: $color-white-op7;
    margin-top: 30px;
  }
  &__list {
    @include dflex-jcsb;
  }
  &__item {
    margin-left: 80px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__link {
    margin-bottom: 19px;
  }
  &__input {
    padding: 9px 15px;
    text-align: left;
    border: 1px solid $color-white-op5;
    border-radius: 19.5px;
    background: none;
    color: $color-white;
    margin-bottom: 20px;
  }
  &__socials {
    @include dflex-jcsb;
    width: 111px;
  }
  &__img {
    @include dflex-center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none;
  }
  &__dummy {
    @include dflex-jcsb-aic;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 206px;
    background: url("../img/dummy-bg.png") center center/cover no-repeat;
    border-radius: 5px;
    padding: 54px;
    color: $color-white;
    &-title {
      font-size: 39px;
      margin-bottom: 25px;
    }
    &-text {
      color: $color-white-op9;
    }
    &-contact {
      position: relative;
      cursor: pointer;
    }
    &-img {
      position: absolute;
      right: 42px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
    &-contact::after {
      @include pseudo;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      width: 74px;
      height: 42px;
      background: $color-white;
      border-radius: 50px;
    }
    &-input {
      color: $color-white;
      width: 460px;
      padding: 24px 40px;
      border-radius: 50px;
      background: none;
      border: 1px solid $color-white-op7;
    }

  }
}
