.header {
  height: 100vh;
  background: url("../img/main-bg.jpg ") center center/cover no-repeat;
  padding: 50px;
  &__menu {
    @include dflex-jcsb-aic;
    img {
      width: 110px;
      height: 42px;
    }
  }
  &__nav {
    width: 457px;
    ul {
      @include dflex-jcsb;
      a.active {
        color: $color-white;
        font-weight: 500;
        border-bottom: 2px solid $color-white;
      }
    }
  }
  &__content {
    margin-top: 126px;
  }
  &__title {
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 25px;
  }
  &__descr {
    line-height: 160%;
    color: $color-white-op7;
    margin-bottom: 40px;
    span.descr-underline {
      font-weight: 600;
      text-decoration: underline;
      color: $color-white;
    }
  }
  &__btns {
    width: 440px;
    display: flex;
    margin-bottom: 54px;
  }
  &__btn {
    &_first {
      margin-right: 30px;
    }
  }
  &__bottom {
    line-height: 140%;
    color: $color-white-op5;
    span.opacity7 {
      color: $color-white-op7;
    }
  }
}
