.header {
  min-height: 100vh;
  background: url("../img/main-bg.jpg ") center center/cover no-repeat;
  padding: 50px;
  &__btn {
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 18px;
    background: none;
    border: 1px solid $color-white-op1;
    border-radius: 3px;
    color: $color-white;
    text-align: center;
    &--active {
      color: $main-color;
      background: $color-white;
      border: none;
    }
    &--first {
      margin-right: 30px;
    }
    
  }
  &__title {
    line-height: 70px;
    margin: 0 0 25px 0;
    &--title {
      font-weight: 500;
      font-size: 60px;
      color: $color-white;
    }
  }
  &__subtitle {
    text-transform: uppercase;
    color: $main-color;
    &--fz {
      &--small {
        font-weight: 400;
        letter-spacing: 0.05em;
        font-size: 16px;
      }
    }
  }
  &__menu {
    @include dflex-jcsb-aic;
    img {
      width: 110px;
      height: 42px;
    }
  }
  &__nav {
    width: 457px;
    ul {
      @include dflex-jcsb;
      a.active {
        color: $color-white;
        font-weight: 500;
        border-bottom: 2px solid $color-white;
      }
    }
  }
  &__content {
    margin-top: 126px;
  }
  &__descr {
    line-height: 25px;
    color: $color-white-op7;
    margin-bottom: 40px;
  }
  &__btns {
    width: 440px;
    display: flex;
    margin-bottom: 54px;
  }
  &__bottom {
    line-height: 20px;
    color: $color-white-op5;
  }
  &--opacity {
    color: $color-white-op7;
  }
  &--blue {
    color: $main-color;
    position: relative;
    font-weight: 700;
  }
  &--underline {
    &::before {
      @include pseudo;
      width: 40%;
      height: 3px;
      background-color: $main-color;
      left: 0;
      bottom: 13px;
    }
    &::after {
      @include pseudo;
      width: 60%;
      height: 3px;
      background-color: $color-white;
      right: 0;
      bottom: 13px;
    }
  }
  &--descr-underline {
    font-weight: 600;
    text-decoration: underline;
    color: $color-white-op7;
  }
  &__descr-link {
    display: inline-block;
  }
}
