.skills {
  padding-top: 156px;
  text-align: center;
  &__subtitle {
    margin-bottom: 10px;
    &--fz {
      &-small {
        @include title-small;
      }
    }
  }
  &__title {
    @include title;
    margin-bottom: 25px;
    &--fz {
      &-big {
        @include title-big;
      }
    }
  }
  &__text {
    margin-bottom: 60px;
  }
  &__dashed {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 2px dashed $color-white;
    z-index: 1;
    background: linear-gradient($color-mainbg, $color-mainbg) padding-box,
      linear-gradient(to bottom, $color-blue-op5, $color-white) border-box;
  }
  &__item {
    z-index: 2;
  }
  &__grid {
    position: relative;
    padding-top: 38px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 226px));
    justify-content: center;
    column-gap: 166px;
    row-gap: 60px;
  }
  &__icon {
    @include push--auto;
    background: url("../icons/skills-icon-bg.svg") center center/cover no-repeat;
    width: 60px;
    height: 60px;
    position: relative;
    margin-bottom: 26px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__name {
    margin-bottom: 15px;
    &--fz {
      &-medium {
        @include title-medium;
      }
    }
  }
  &__about {
    color: $color-black-op7;
  }
}
