.header {
  height: 100vh;
  background: url("../img/main-bg.jpg") center center/cover no-repeat;
  padding: 50px;
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 110px;
      height: 42px;
    }
  }
  &__nav {
    width: 457px;
    ul {
      display: flex;
      justify-content: space-between;
      a.active {
        color: #fff;
        font-weight: 500;
        border-bottom: 2px solid #fff;
      }
    }
  }
  &__content {
    margin-top: 126px;
  }
  &__subtitle {
    color: $main-color;
    text-transform: uppercase;
  }
  &__title {
    line-height: 140%;
    margin-top: 0;
    margin-bottom: 25px;
  }
  &__descr {
    line-height: 160%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
    span {
      font-weight: 600;
      text-decoration: underline;
    }
  }
  &__btns {
    width: 440px;
    display: flex;
    margin-bottom: 54px;
    a:nth-child(1) {
      margin-right: 30px;
    }
  }
  &__bottom {
    line-height: 140%;
    color: rgba(255, 255, 255, 0.5);
    span {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
