@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff"), url("../fonts/Poppins-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff"), url("../fonts/Poppins-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff"), url("../fonts/Poppins-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
  display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff"), url("../fonts/Poppins-Regular.woff2");
  font-weight: 600;
  font-style: normal;
  display: swap;
}